# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [87]:
#Your code here
import sqlite3
import pandas as pd
connection = sqlite3.connect('data.sqlite')
cursor = connection.cursor()

## Display the names of all the employees in Boston.

In [88]:
#Your code here
cursor.execute('''SELECT lastname, firstname, employeeNumber FROM employees;''').fetchall()

[('Murphy', 'Diane', '1002'),
 ('Patterson', 'Mary', '1056'),
 ('Firrelli', 'Jeff', '1076'),
 ('Patterson', 'William', '1088'),
 ('Bondur', 'Gerard', '1102'),
 ('Bow', 'Anthony', '1143'),
 ('Jennings', 'Leslie', '1165'),
 ('Thompson', 'Leslie', '1166'),
 ('Firrelli', 'Julie', '1188'),
 ('Patterson', 'Steve', '1216'),
 ('Tseng', 'Foon Yue', '1286'),
 ('Vanauf', 'George', '1323'),
 ('Bondur', 'Loui', '1337'),
 ('Hernandez', 'Gerard', '1370'),
 ('Castillo', 'Pamela', '1401'),
 ('Bott', 'Larry', '1501'),
 ('Jones', 'Barry', '1504'),
 ('Fixter', 'Andy', '1611'),
 ('Marsh', 'Peter', '1612'),
 ('King', 'Tom', '1619'),
 ('Nishi', 'Mami', '1621'),
 ('Kato', 'Yoshimi', '1625'),
 ('Gerard', 'Martin', '1702')]

# Do any offices have no employees?

In [89]:
#Your code here
not(set(cursor.execute('''SELECT officeCode FROM employees;''').fetchall()) == set(cursor.execute('''SELECT officeCode FROM offices;''').fetchall()))

False

## Write 3 Questions of your own and answer them

Questions...
1. Top 5 sales rep employees with highest customer number?
2. Customer with most orders
3. Top 5 most ordered products

In [91]:
# Top 5 sales rep employees with most customers
customer_count_list = cursor.execute('''SELECT salesRepEmployeeNumber, COUNT(salesRepEmployeeNumber) FROM customers GROUP BY salesRepEmployeeNumber ORDER BY COUNT(salesRepEmployeeNumber) DESC LIMIT 6;''').fetchall()
top_five = []

for i in range(len(customer_count_list)):
    if customer_count_list[i][0] != '':
        sql_command = '''SELECT firstname, lastname, employeeNumber 
                            FROM employees
                            WHERE employeeNumber = "''' + str(customer_count_list[i][0]) + '''"'''
        top_five.append(cursor.execute(sql_command).fetchall())

top_five

[[('Pamela', 'Castillo', '1401')],
 [('Barry', 'Jones', '1504')],
 [('George', 'Vanauf', '1323')],
 [('Larry', 'Bott', '1501')],
 [('Foon Yue', 'Tseng', '1286')]]

In [109]:
# Customer with most orders
results = cursor.execute('''SELECT * FROM orders o
                        JOIN customers c
                        USING(customerNumber)''').fetchall()

df = pd.DataFrame(results)
df.columns = [i[0] for i in cursor.description]
top_customer_id = df['customerNumber'].value_counts().index[0]

cursor.execute('''SELECT * FROM customers WHERE customerNumber = "'''+str(top_customer_id)+'''"''').fetchall()

[('141',
  'Euro+ Shopping Channel',
  'Freyre',
  'Diego ',
  '(91) 555 94 44',
  'C/ Moralzarzal, 86',
  '',
  'Madrid',
  '',
  '28034',
  'Spain',
  '1370',
  '227600.00')]

In [114]:
#Most ordered product
product_id = cursor.execute('''SELECT productCode, COUNT(productCode) FROM orderDetails 
                    GROUP BY productCode
                    ORDER BY COUNT(productCode) DESC;''').fetchall()[0][0]

cursor.execute('''SELECT * FROM products
                    WHERE productCode = "'''+str(product_id)+'''"''').fetchall()

[('S18_3232',
  '1992 Ferrari 360 Spider red',
  'Classic Cars',
  '1:18',
  'Unimax Art Galleries',
  'his replica features opening doors, superb detail and craftsmanship, working steering system, opening forward compartment, opening rear trunk with removable spare, 4 wheel independent spring suspension as well as factory baked enamel finish.',
  '8347',
  '77.90',
  '169.34')]

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!